@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h2>Confirm</h2>
</div>

<p>@ViewBag.Message</p>

<a href="/Member/Delete/@ViewBag.Id" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>

<a href="/Member" class="btn btn-secondary"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
