@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>This is Model View Controller (MVC) Web Application, created using Visual Studio and programmed using C#.</p>
    <p>Database: Sqlite</p>
</div>
